*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}     
header .border-right{
    border-right: 1px dotted #dee2e6!important;
}
/* NAVBAR */
#navbarMovie .navbar-nav{
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    
}
#navbarMovie .navbar-nav .nav-item{
    text-transform: uppercase;
    font-weight: bold;

    position: relative;
    padding: 0 20px;
}
#navbarMovie .navbar-nav .nav-item::after{
    content: '';
    display: block;
    height: 2px;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    width: 0;
    transition: all .3s;
    position: absolute;
    left: 0;
    bottom: 0;
}
#navbarMovie .navbar-nav .nav-item.active::after{
    width: 100%;
}
#navbarMovie .navbar-nav .nav-item:hover::after{
    width: 100%;
}
.navbar-toggler-icon{
    background: #fbbd61;
    display: block;
    margin: 5px;
    height: 2px;
    width: 22px;
}
/* Media Query */
@media screen and (max-width:930px){
    .navbar-nav{
         background: rgba(0,0,0,.9);
         margin: 0 !important;
         position: static;
    }
    .navbar-nav li a{
        text-align: center;
    }
    .navbar-collapse .navbar-nav .active a.nav-link{
        color: #ec7532;
    }
    #navbarMovie .navbar-nav .nav-item.active::after{
        width: 0;
    }
    #navbarMovie .navbar-nav .nav-item.active:hover::after{
        width: 100%;
    }
 }
 /* CAROUSEL */
.carousel-item_overlay{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top,#000000,transparent);
}
#carouselMovie .carousel-caption{
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: left;
}
#carouselMovie .carousel-caption .pg{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    padding: 10px;
    margin-right: 10px;
}
.carousel-caption .btn-trailer a{
    color: #ffffff;
    text-decoration: none;
}
.carousel-caption .btn-trailer{
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
    padding: 10px 25px;
    border-radius: 25px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.carousel-caption .btn-trailer::before{
    content: '';
    display: block;
    background: #ec7532;
    transform: skewX(30deg) translateX(-115%);
    width: 110%;
    height: 105%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    transition: all .5s;
    /* Che di tat ca the con nao tran ra hoac nam ngoai  */
    
}
#carousel .carousel-item{
    height: 800px;
}
#carousel .item_1{
    background: url('../img/hero-1.jpg') no-repeat center center;
    background-size: cover;
}
#carousel .item_2{
    background: url('../img/hero-2.jpg') no-repeat center center;
    background-size: cover;
}
#carousel .item_3{
    background: url('../img/hero-3.jpg') no-repeat center center;
    background-size: cover;
}
.carousel-caption .btn-trailer:hover::before{
    transform: skewX(30deg) translateX(-5%);
}
.carousel-caption .btn-trailer span{
    /* Muon dung z-index thi phai co position */
    position: relative;
    z-index: 11 ;
}

.carousel-caption p.title{
    color:#fbbd61 ;
    line-height: 2px;
    font-weight: 500;
    letter-spacing: 2px;
}
.carousel-caption h5{
    font-weight: 300;
    font-size: 50px;
}
.carousel-caption p{
    font-weight: 500;
}
#carouselMovie .carousel-indicators {
    bottom: 50px;
}
#carouselMovie .carousel-indicators li{
    width: 10px;
    height: 10px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

#carouselMovie .carousel-indicators li.active{
    background: #ffffff;
}
/* Media Querry */
@media screen and (max-width:280px){
    #carouselMovie .carousel-caption{
        transform: translate(-50%, -50%);
        top: 60%;
        left: 50%;
        text-align: left;
    }
    .carousel-caption p.title{
        font-size: 10px !important;
    }
}
@media screen and (max-width:340px){
    #carouselMovie .carousel-caption{
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
        text-align: left;
    }
    .carousel-caption p.title{
        font-size: 12px;
    }
    .carousel-caption h5{
        font-size: 30px;
    }
    .carousel-caption p{
        font-size: 12px;
    }
}
/* NEW IN */
#newin h2.newin_title{
    text-transform: uppercase;
    color: #fbbd61;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    position: relative;
}
.newin_title::after{
    content: '';
    height: 3px;
    width: 160px;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
    position: absolute;
    bottom: -1px;
    left: 0;
}
.newin_content .newin_img{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.newin_content .newin_img .newin_detail{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scale(0.8);
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all .5s;
}
.newin_content .newin_img .newin_detail i{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 20px;
    border: 1px solid #ffffff;
    line-height: 60px;
    margin: 10px auto;
}
.newin_content .newin_img .newin_detail span{
    letter-spacing: 2px;
    font-size: 16px;
}
.newin_content .newin_img .newin_detail a{
    text-decoration: #ffffff;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.newin_overplay{
    position: absolute;
    top: 0;
    left: -400%;
    transform: skew(45deg);
    background-image: linear-gradient(to top,#fbbd61,#ec7532);
    width: 300%;
    height: 100%;
    transition: all .5s;
}
.newin_img:hover .newin_overplay{
    left: -100%;
}
.newin_img:hover .newin_detail{
    opacity: 1;
    transform: translateY(-50%) scale(1);
}
.newin_name p{
    font-size: 18px;
    color: #4a4a4a;
}
.newin_name i{
    color: #fbbd61;
    margin: 10px 0;
}
.newin_name span i{
    color: #d8d8d8;
}
/* SHOWTIME */
#showtime{
    padding-top: 75px;
}
#showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active ,#showtime .nav-tabs .nav-link:hover{
    border: none;
}
#showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    position: relative;
}
#showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link::after{
    content: '';
    display: block;
    height: 3px;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
    box-shadow: 0 0 20px 0 #fbbd61;
    width: 0;
    transition: all .3s;
    position: absolute;
    left: 0;
    bottom: -1px;
}
#showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover::after{
    width: 100%;
}

#showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active::after{
    width: 100%;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fbbd61;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color: #000000;
}
 #showtime a.showtime_item{
    text-decoration: none;
    color: #ec7532;
    letter-spacing: 3px;
    font-size: 15px;
}
#showtime a.showtime_item:hover{
    color: #000000;
}
#showtime span.showtime_number{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
}
#showtime p.showtime_genre{
    color: #ec7532;
    font-weight: 500;
    font-size: 12px;
}
#showtime h3.showtime_title{
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
#showtime .nav-item a.nav-link{
    color: #4a4a4a;
    font-size: 18px;
}
.showtime_img img{
    border-radius: 10px;
    overflow: hidden;
}
/* Media Querry */
@media screen and (max-width:530px){
    #showtime ul.nav-tabs{
        display: block !important;
    }
    #showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover::after{
        width: 0;
    }
    #showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active::after{
        width: 0;
    }
    #showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active ,#showtime .nav-tabs .nav-link:hover{
        border: none;
    }
    #showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
        position: relative;
    }
    #showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link::after{
        content: '';
        display: block;
        height: 0;
        background-image: linear-gradient(to top,#fbbd61,#ec7532);
        box-shadow: 0  0 20px 0 #fbbd61;
        width: 5px;
        border-left: 2px solid rgba(0, 0, 0, .2);
        transition: all .3s;
        position: absolute;
        left: 5px;
        bottom: 0;
    }
    #showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover::after{
        height: 100%;
    }
    #showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active::after{
        height: 100%;
    }
}
@media screen and (max-width:530px){
    .showtime_img img{
        height: 100%;
        width: 100%;
        display: block;
    }
    .showtime_sta{
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
    }

}
@media screen and (max-width:770px){
    .showtime_view{
        display: block;
        margin-bottom: 20px;
    }
}
/* COMING SOON */
#comingsoon{
    margin-top: 75px;
    background: #000000;
}
#comingsoon .coming_background{
    background-image: url('../img/slide-3.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#comingsoon .container{
    padding: 30px 15px;
}
#comingsoon .container .coming_title{
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding-bottom: 15px;
    position: relative;
    font-size: 20px;
}
.coming_title::after{
    content: '';
    width: 160px;
    height: 3px;
    background-image: linear-gradient(to right,#fbbd61,#ec7532);
    position: absolute;
    bottom: -1px;
    left: 0px;
}
.container .coming_detail h3{
    color: #ec7532;
    font-size: 14px;
    font-weight: 500;
}
.container .coming_detail h1{
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
}
.container .coming_detail p i{
    color: #fbbd61;
}
.container .coming_detail a{
    color: #ec7532;
    font-size: 12px;
    letter-spacing: 2px;
}
.container .coming_detail a:hover{
    color: #fbbd61;
    text-decoration: none;
}
.container .coming_detail span.coming_date{
    opacity: 0.6;
}
.container .coming_img{
    position: relative;
}
.container .coming_img i{
    width: 84px;
    height: 84px;
    border: 1px solid #ec7532;
    border-radius: 50%;
    line-height: 84px;
    color: #ffffff;
    text-align: center;
    display: block;
    font-size: 30px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
}
.comingsoon_date{
    color: #ffffff;
    opacity: 0.4;
}
.coming_name{
    color: #ffffff;
}
.coming_item{
    
    opacity: 0.2;
    transition: all .5s;
}
.coming_item:hover{
    opacity: 1;
}
.coming_list .coming_item img{
    border-radius: 10px;
    overflow: hidden;
}
.coming_list .coming_item_1 img{
    border-radius: 10px;
    overflow: hidden;
}
/* Contact */
#contact{
    margin-top: 30px;
}
#contact .container{
    background: #ffffff;
}
#contact .container .contact_content>p{
    color: #000000;
    font-size: 20px;
}
.contact_content p:nth-child(2){
    color: #ec7532 !important;
    font-size: 40px  !important;
}
/* FOOTER */
#footer{
    background: #000000;
}
#footer .container h4{
    color: #ec7532;
    font-size: 15px;
    font-weight: 400;
}
#footer .container ul{
    list-style-type: none;
}
#footer .container ul li a{
    color: #ffffff;
    text-align: center;
}
#footer .container ul li a:hover{
    color: #fbbd61;
    text-decoration: none;
}
#footer .container ul.footer_icon i{
    opacity: 0.6;
}
.container p.footer_info{
    border-top: 1px solid rgba(255, 255, 255, .2);
    color: #ffffff;
    padding-top: 30px;
}
.container .footer_info span a{
    color: #ffffff;
}
.container .footer_info span a:hover{
    color: #ec7532;
    text-decoration: none;
}

